
.list_table{
  width: 860px;
  text-align: center;
  margin-bottom: 2rem;
  /* min-width: 1300px; */
}

.list_table td{
  padding: 8px 4px;
  vertical-align: middle;
}

.list_table > thead > tr{
  background-color: #895ff8;
  /* border-top: 1px solid #673de6;    
  border-bottom: 2px solid #673de6; */
  color: white;   
  font-weight: 500; 
  border: 1px solid #895ff8;
} 

.list_table > tbody > tr  
/* , .list_table > tbody > tr > td */
{
  border: 1px solid #dddddd;
}

.checkbox_div{
  display: flex;
  justify-content: space-around;
  /* border: 1px solid black; */
  height: 45px;
} 

.list_title{
  font-weight: 500;
}



.result_table{
  width: 860px;
  text-align: center;
    margin-bottom: 2rem;
}

.result_table td{
  padding: 8px 4px;
  vertical-align: middle;
}

.result_table > thead > tr{
  background-color: #895ff8;
  /* border-top: 1px solid #673de6;    
  border-bottom: 2px solid #673de6; */
  color: white;   
  font-weight: 500; 
  border: 1px solid #895ff8;
} 

.result_table > tbody > tr  
/* , .list_table > tbody > tr > td */
{
  border: 1px solid #dddddd;
}

.result_table > tbody > tr:nth-child(even){
  background-color: #f3eeff48;
}