.list_table{
  width: 100%;
  text-align: center;
  border: none;
  /* min-width: 1300px; */
}

.list_table td{
  padding: 12px 10px;
  vertical-align: middle;
}

.list_table > thead > tr{
  background-color: #895ff8;
  /* border-top: 1px solid #673de6;    
  border-bottom: 2px solid #673de6; */
  color: white;   
  font-weight: 500; 
} 

.list_table > tbody > tr{
  border-bottom: 1px solid #dddddd;
}

.list_table > tbody > tr:nth-child(even){
  background-color: #f3eeff48;
}

.list_table > tbody > tr:hover{
  background-color: #d4c7fd59
}


