<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.lms.cls.mapper.ClassMapper">
  <resultMap id="classInfoMap" type="com.green.lms.cls.vo.ClassInfoVO">
    <id column="CLASS_NUM"              property="classNum"/>
    <result column="CLASS_NAME"         property="className"/>
    <result column="JOB_NUM"            property="jobNum"/>
    <result column="CLASS_TYPE_NUM"     property="classTypeNum"/>
    <result column="START_DATE"         property="startDate"/>
    <result column="END_DATE"           property="endDate"/>
    <result column="TOTAL_STUDY_DAY"    property="totalStudyDay"/>
    <result column="TOTAL_STUDY_HOUR"   property="totalStudyHour"/>
    <result column="CLASS_STATUS"       property="classStatus"/>
    <result column="CLASS_QUOTA"        property="classQuota"/>
    <result column="CONFIRM_STU_CNT"    property="confirmStuCnt"/>
    <result column="JOIN_STU_CNT"       property="joinStuCnt"/>
    <result column="DROP_STU_CNT"       property="dropStuCnt"/>
    <result column="COMPLETE_STU_CNT"   property="completeStuCnt"/>
    <result column="EARLY_COMPLETE_CNT" property="earlyCompleteCnt"/>
    <result column="EARLY_EMPLOY_CNT"   property="earlyEmployCnt"/>
    <result column="RECRUIT_RATE"       property="recruitRate"/>
    <result column="CLASS_COMMENT"      property="classComment"/>
    <result column="CREATE_USER"        property="createUser"/>
    <result column="UPDATE_USER"        property="updateUser"/>
    <result column="CREATE_DATE"        property="createDate"/>
    <result column="UPDATE_DATE"        property="updateDate"/>

    <association property="jobTypeVO"   resultMap="com.green.lms.job_type.mapper.JobTypeMapper.jobTypeMap"/>
    <association property="classTypeVO" resultMap="com.green.lms.class_type.mapper.ClassTypeMapper.classTypeMap"/>

  </resultMap>

  <resultMap id="classOperInfoMap" type="com.green.lms.cls.vo.ClassOperInfoVO">
    <id column="CLASS_OPER_NUM"     property="classOperNum"/>
    <result column="STAFF_NUM"      property="staffNum"/>
    <result column="CLASS_ROOM_NUM" property="classRoomNum"/>
    <result column="STUDY_DAY"      property="studyDay"/>
    <result column="STUDY_HOUR"      property="studyHour"/>
    <result column="START_TIME"     property="startTime"/>
    <result column="END_TIME"       property="endTime"/>
    <result column="CLASS_NUM"      property="classNum"/>
    <result column="IS_USING"       property="isUsing"/>
    <result column="CREATE_USER"    property="createUser"/>
    <result column="UPDATE_USER"    property="updateUser"/>
    <result column="CREATE_DATE"    property="createDate"/>
    <result column="UPDATE_DATE"    property="updateDate"/>

    <association property="staffVO"     resultMap="com.green.lms.staff.mapper.StaffMapper.staffMap"/>
    <association property="classInfoVO" resultMap="classInfoMap"/>
    <association property="classRoomVO" resultMap="com.green.lms.class_room.mapper.ClassRoomMapper.classRoomMap"/>
  </resultMap>

  <!--상담일지 페이지 조회를 위한 mapper-->
  <resultMap id="consultMapForList" type="com.green.lms.cls.vo.ClassVoForGetConsultList">
    <id     column="CLASS_NUM"        property="classNum"/>
    <result column="CLASS_NAME"       property="className"/>
    <result column="JOB_NUM"          property="jobNum"/>
    <result column="JOB_NAME"         property="jobName"/>
    <result column="CLASS_TYPE_NUM"   property="classTypeNum"/>
    <result column="CLASS_TYPE_NAME"  property="classTypeName"/>
    <result column="START_DATE"       property="startDate"/>
    <result column="END_DATE"         property="endDate"/>
    <result column="TOTAL_STUDY_HOUR" property="totalStudyHour"/>
    <result column="TOTAL_STUDY_DAY"  property="totalStudyDay"/>
    <result column="TEACHER_NUM"      property="teacherNum"/>
    <result column="TEACHER_NAME"     property="teacherName"/>
    <result column="CLASS_ROOM_NUM"   property="classRoomNum"/>
    <result column="CLASS_ROOM_NAME"  property="classRoomName"/>
    <result column="STUDY_DAY"        property="studyDay"/>
    <result column="STUDY_HOUR"       property="studyHour"/>
    <result column="START_TIME"       property="startTime"/>
    <result column="END_TIME"         property="endTime"/>

    <collection property="consultList" ofType="com.green.lms.cls.vo.ConsultVoForGetList">
      <id     column="CONSULT_NUM"      property="consultNum"/>
      <result column="STU_NUM"          property="stuNum"/>
      <result column="STU_NAME"         property="StuName"/>
      <result column="MANAGER_NUM"      property="managerNum"/>
      <result column="MANAGER_NAME"     property="managerName"/>
      <result column="CONSULT_CONTENT"  property="consultContent"/>
      <result column="CONSULT_STATUS"   property="consultStatus"/>
      <result column="CONSULT_TYPE"     property="consultType"/>
      <result column="SUPPORT_TYPE"     property="supportType"/>
      <result column="HRD_STATUS"       property="hrdStatus"/>
      <result column="CONSULT_GRADE"    property="consultGrade"/>
      <result column="CUSTOM_ROWS"      property="customRows"/>
      <result column="ATTITUDE_SCORE"   property="attitudeScore"/>
      <result column="ATTENDANCE_SCORE" property="attendanceScore"/>
      <result column="MIND_SCORE"       property="mindScore"/>
      <result column="JOB_SCORE"        property="jobScore"/>
      <result column="TOTAL_SCORE"      property="totalScore"/>
    </collection>
  </resultMap>

  <select id="getNextClassNum" resultType="int">
    SELECT IFNULL(MAX(CLASS_NUM), 0) + 1 FROM CLASS_INFO
  </select>

  <insert id="insertClassInfo">
    INSERT INTO CLASS_INFO (
      CLASS_NAME
      , JOB_NUM
      , CLASS_TYPE_NUM
      , START_DATE
      , END_DATE
      , TOTAL_STUDY_DAY
      , TOTAL_STUDY_HOUR
      , CLASS_QUOTA
      , CLASS_COMMENT
      , CREATE_USER
    ) VALUES (
      #{className}
      , #{jobNum}
      , #{classTypeNum}
      , #{startDate}
      , #{endDate}
      , #{totalStudyDay}
      , #{totalStudyHour}
      , #{classQuota}
      , #{classComment}
      , #{createUser}
    )
  </insert>

  <insert id="insertClassOperInfo">
    INSERT INTO CLASS_OPER_INFO (
      STAFF_NUM
      , CLASS_ROOM_NUM
      , STUDY_DAY
      , STUDY_HOUR
      , START_TIME
      , END_TIME
      , CLASS_NUM
      , CREATE_USER
    ) VALUES (
      #{staffNum}
      , #{classRoomNum}
      , #{studyDayString}
      , #{studyHour}
      , #{startTime}
      , #{endTime}
      , #{classNum}
      , #{createUser}
    )
  </insert>

  <!--모집중인 과정 정보 조회-->
  <select id="getClassListRecruiting" resultMap="classOperInfoMap">
    SELECT CI.CLASS_NUM
      , CLASS_NAME
      , JOB_NUM
      , (SELECT JOB_NAME FROM job_type WHERE JOB_NUM = CI.JOB_NUM) AS JOB_NAME
      , CLASS_TYPE_NUM
      , (SELECT CLASS_TYPE_NAME FROM class_type WHERE CLASS_TYPE_NUM = CI.CLASS_TYPE_NUM) AS CLASS_TYPE_NAME
      , START_DATE
      , END_DATE
      , TOTAL_STUDY_HOUR
      , TOTAL_STUDY_DAY
      , CLASS_QUOTA
      , CONFIRM_STU_CNT
      , RECRUIT_RATE
      , STAFF_NUM
      , (SELECT STAFF_NAME FROM staff_info WHERE STAFF_NUM = COI.STAFF_NUM) AS STAFF_NAME
      , CLASS_ROOM_NUM
      , (SELECT CLASS_ROOM_NAME FROM class_room WHERE CLASS_ROOM_NUM = COI.CLASS_ROOM_NUM) AS CLASS_ROOM_NAME
      , STUDY_DAY
      , STUDY_HOUR
      , START_TIME
      , END_TIME
    FROM CLASS_INFO CI INNER JOIN class_oper_info COI
    ON CI.CLASS_NUM = COI.CLASS_NUM
    WHERE CLASS_STATUS = '모집 중'
    AND IS_USING = 'Y';
  </select>

  <!--모집 과정 및 상담 목록 조회-->
  <select id="selectClassAndConsultList" resultMap="consultMapForList">
    SELECT CI.CLASS_NUM
      , CLASS_NAME
      , JOB_NUM
      , (SELECT JOB_NAME FROM job_type WHERE JOB_NUM = CI.JOB_NUM) AS JOB_NAME
      , CLASS_TYPE_NUM
      , (SELECT CLASS_TYPE_NAME FROM class_type WHERE CLASS_TYPE_NUM = CI.CLASS_TYPE_NUM) AS CLASS_TYPE_NAME
      , START_DATE
      , END_DATE
      , TOTAL_STUDY_HOUR
      , TOTAL_STUDY_DAY
      , STAFF_NUM AS TEACHER_NUM
      , (SELECT STAFF_NAME FROM staff_info WHERE STAFF_NUM = COI.STAFF_NUM) AS TEACHER_NAME
      , CLASS_ROOM_NUM
      , (SELECT CLASS_ROOM_NAME FROM class_room WHERE CLASS_ROOM_NUM = COI.CLASS_ROOM_NUM) AS CLASS_ROOM_NAME
      , STUDY_DAY
      , STUDY_HOUR
      , START_TIME
      , END_TIME
      , CONSULT_NUM
      , CONSULT.STU_NUM
      , (SELECT STU_NAME FROM stu_info WHERE STU_NUM = CONSULT.STU_NUM) AS STU_NAME
      , CONSULT.MANAGER_NUM
      , (SELECT STAFF_NAME FROM STAFF_info WHERE STAFF_NUM = CONSULT.MANAGER_NUM) AS MANAGER_NAME
      , SUPPORT_TYPE
      , CONSULT_GRADE
      , CONSULT_TYPE
      , HRD_STATUS
      , CONSULT_CONTENT
      , CONSULT_STATUS
      , ATTITUDE_SCORE
      , ATTENDANCE_SCORE
      , MIND_SCORE
      , JOB_SCORE
      , TOTAL_SCORE
      , CUSTOM_ROWS
    FROM CLASS_INFO CI
    INNER JOIN class_oper_info COI
    ON CI.CLASS_NUM = COI.CLASS_NUM
    LEFT OUTER JOIN consult_info CONSULT
    ON CI.CLASS_NUM = CONSULT.CLASS_NUM
    WHERE CLASS_STATUS = '모집 중'
    AND IS_USING = 'Y'
  </select>



</mapper>
































