<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.lms.class_room.mapper.ClassRoomMapper">
  <resultMap id="classRoomMap" type="com.green.lms.class_room.vo.ClassRoomVO">
    <id column="CLASS_ROOM_NUM"       property="classRoomNum"/>
    <result column="CLASS_ROOM_NAME"  property="classRoomName"/>
    <result column="CLASS_ROOM_ORDER" property="classRoomOrder"/>
  </resultMap>

  <select id="getAll" resultMap="classRoomMap">
    SELECT *
    FROM CLASS_ROOM
    ORDER BY CLASS_ROOM_ORDER
  </select>


</mapper>
































