<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.lms.class_type.mapper.ClassTypeMapper">
  <resultMap id="classTypeMap" type="com.green.lms.class_type.vo.ClassTypeVO">
    <id     column="CLASS_TYPE_NUM"   property="classTypeNum"/>
    <result column="CLASS_TYPE_NAME"  property="classTypeName"/>
    <result column="CLASS_TYPE_ORDER" property="classTypeOrder"/>
  </resultMap>

  <select id="getAll" resultMap="classTypeMap">
    SELECT *
    FROM CLASS_TYPE
    ORDER BY CLASS_TYPE_ORDER
  </select>


</mapper>
































