<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.lms.staff.mapper.StaffMapper">
  <resultMap id="staffMap" type="com.green.lms.staff.vo.StaffVO">
    <id     column="STAFF_NUM"    property="staffNum"/>
    <result column="STAFF_NAME"   property="staffName"/>
    <result column="STAFF_TEL"    property="staffTel"/>
    <result column="STAFF_EMAIL"  property="staffEmail"/>
    <result column="STAFF_ROLE"   property="staffRole"/>
    <result column="STAFF_JOB"    property="staffJob"/>
    <result column="STAFF_TASK"   property="staffTask"/>
    <result column="STAFF_STATUS" property="staffStatus"/>
    <result column="JOIN_DATE"    property="joinDate"/>
    <result column="STAFF_ORDER"  property="staffOrder"/>
    <result column="NICK_NAME"    property="nickName"/>
  </resultMap>

  <select id="getAll" resultMap="staffMap">
    SELECT *
    FROM STAFF_INFO
    <if test='staffTask != null and !staffTask.equals("")'>
    WHERE STAFF_TASK = #{staffTask}
    </if>
    ORDER BY STAFF_ORDER
  </select>

    
</mapper>































