<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.lms.staff.mapper.StaffMapper">
    <resultMap id="staffMap" type="com.green.lms.staff.vo.StaffVO">
        <id property="staffNum"         column="STAFF_NUM"/>
        <result property="staffName"    column="STAFF_NAME"/>
        <result property="staffTel"     column="STAFF_TEL"/>
        <result property="staffEmail"   column="STAFF_EMAIL"/>
        <result property="staffRole"    column="STAFF_ROLE"/>
        <result property="staffJob"     column="STAFF_JOB"/>
        <result property="staffTask"    column="STAFF_TASK"/>
        <result property="staffStatus"  column="STAFF_STATUS"/>
        <result property="joinDate"     column="JOIN_DATE"/>
    </resultMap>

    
</mapper>































