.container {
  width: 100%; 
}

.container > div{
  margin-bottom: 1rem;
}

.class_reg_div{
  display: flex;
  gap: 1rem;
}

.list_title{
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.top_caption{
  font-style: italic;
}
